<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <nav><button onclick="window.location.href='/';"> <img src="{% static 'back_arrow.png'%}" width="20" height="20"></button></nav>
    
    <link rel="stylesheet" href="{% static 'rules.css'%}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Null Network</title>
</head>
<body>
    <h1>Welcome to Null Network</h1>
        <p>Here is our set of rules</p>

    <img class="center" src="{% static 'rules.png'%}" alt="" >
        
</body>
</html>